
.beijing_bai{
	background: #FFFFFF;
}
.beijing_hui{
	background: #F1F1F1;
}
.beijing_hong{
	background: #ff0000;
}
.hengfang{
	display: flex;
	flex-direction: row;
}

.cengji_1{
	z-index: 1;
}
.cengji_2{
	z-index: 2;
}
.cengji_3{
	z-index: 3;
}
.cengji_4{
	z-index: 4;
}
.cengji_5{
	z-index: 5;
}

.dingwei_juedui{
	position: absolute;
}
.dingwei_xiangdui{
	position:relative;
}

.huxing_you{
	border-radius:0 15px 15px 0;
}
.huxing_quan{
	border-radius:15px 15px 15px 15px;
}
.huxing_quan_mini{
	border-radius:5px 5px 5px 5px;
}
.huxing_zuo{
	border-radius: 15px 0 0 15px;
}
.huxing_xia{
	border-radius:0 0 15px 15px;
}

.huxing_shang{
	border-radius:15px 15px 0 0;
}

.yinying{
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.kuang{
	border-style:solid;
	border-width:1px;
	border-color: #d6ccd3;
}

.fudong_zuo{
	float:left;
}
.fudong_you{
	float:right;
}

.weizhi_1{
	flex: 1;
}
.weizhi_2{
	flex: 2;
}
.weizhi_3{
	flex: 3;
}
.weizhi_4{
	flex: 4;
}
.weizhi_5{
	flex: 5;
}
.weizhi_6{
	flex: 6;
}
.weizhi_7{
	flex: 7;
}
.weizhi_8{
	flex: 8;
}
.weizhi_9{
	flex: 9;
}
.weizhi_10{
	flex: 10;
}
.wenben_zhong{
	text-align: center;
}

.dianji_touguo{
	pointer-events: none; 
}

.wenben_huanhang{
	word-wrap: break-word;
	word-break: break-all;
	white-space: pre-line;
}


.ziti_kuan1{
	font-weight: 100;
}

.ziti_kuan2{
	font-weight: 200;
}
.ziti_kuan3{
	font-weight: 300;
}
.ziti_kuan4{
	font-weight: 400;
}
.ziti_kuan5{
	font-weight: 500;
}
.ziti_kuan6{
	font-weight: 600;
}
.ziti_kuan7{
	font-weight: 700;
}
.ziti_kuan8{
	font-weight: 800;
}
.ziti_kuan9{
	font-weight: 900;
}

.jiumi_lan{
	color: #4b95e4;
}
.jiumi_hong{
	color: #eb021a;
}
.jiumi_hui{
	color: #9c9c9c;
}

.dibu{
	position:fixed;
	bottom:0px;
}